@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: var(--font-source-code-pro-italic-variable); */
  font-family: var(--font-source-code-pro);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* TESTAR COLOCAR ISSO NAS IMAGENS PRO EFEITO FICAR BOM */

/* .absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.object-cover {
  object-fit: cover;
}

.opacity-50 {
  opacity: 0.5;
}

.z-10 {
  z-index: 10;
} */
